
.Weather h1 {
    color: #ffffff;
    font-weight: 900;
    margin: 0;
    padding: 10px;  }
  .Weather h1:first-letter { 
    text-transform: capitalize;
  }
  
  .weather-units .active {
    text-decoration: none;
    cursor: default;
    color: #1a2980;
  }
  .weather-units .active:hover {
    text-decoration: none;
  }
  .Weather .units {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    top: -30px;
    left: 5px;
  }
  .Weather canvas{
    margin-right: 8px;
    position: relative;
    top:10px
  }
  .Weather  .temperature {
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
  }
  .Weather .current-weather {
    font-size: 20px;
    list-style: none;
    color: #ffffff;
    position: relative;
    right: 30px;
    bottom: 15px;
  }
  .Weather .air-quality {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    position: relative;
    top: 15px;
  }
  
  